body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Style cho các trang có Sidebar */
.app .home-container {
  width: 100%;
}


